[submodule "src/ldlidar_ros2"]
	path = src/ldlidar_ros2
	url = https://github.com/ldrobotSensorTeam/ldlidar_ros2
[submodule "src/laser_geometry"]
	path = src/laser_geometry
	url = https://github.com/ros-perception/laser_geometry
